{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}


{% block content %}


<div class="text-center mb-5">

<h1 class="fw-bold">
📊 User Dashboard
</h1>

<h4>
Welcome {{ username }} 👋
</h4>

</div>



<div class="row">


<div class="col-md-4">

<div class="card shadow p-4 text-center">

<h3>🔍</h3>

<h4>Total Searches</h4>

<h2>
{{ search_count }}
</h2>

</div>

</div>




<div class="col-md-4">

<div class="card shadow p-4 text-center">

<h3>❤️</h3>

<h4>Favorites</h4>

<h2>
{{ favorite_count }}
</h2>

</div>

</div>




<div class="col-md-4">

<div class="card shadow p-4 text-center">

<h3>🎬</h3>

<h4>Recent Activity</h4>

<h2>
{{ history_count }}
</h2>

</div>

</div>


</div>





<div class="card shadow mt-5 p-4">


<h3>
🕒 Recent Searches
</h3>


{% for movie in recent_history %}

<p>
🎬 {{ movie.searched_movie }}
</p>


{% endfor %}


</div>


{% endblock %}