{% extends "base.html" %}

{% block title %}
Genre Movies
{% endblock %}

{% block content %}

<h2 class="mb-4">
🎭 Genre Movies
</h2>

<div class="row">

{% for movie in movies %}

<div class="col-md-4 mb-4">

<div class="card shadow h-100">

<img src="{{ movie.poster }}"
class="card-img-top"
style="height:350px;object-fit:cover;">


<div class="card-body">

<h5 class="fw-bold">
{{ movie.title }}
</h5>

<p>
⭐ Rating: {{ movie.rating }}
</p>

<a href="/movie/{{ movie.id }}"
class="btn btn-primary w-100">

View Details 🎬

</a>

</div>

</div>

</div>

{% endfor %}

</div>

{% endblock %}