{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="auth-box">

    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    </div>


    <h2>Welcome Back</h2>


    <p class="subtitle">
        Login to discover amazing movies
    </p>



    <form action="/login" method="POST">


        <div class="mb-3">

            <label class="form-label">
                Username
            </label>

            <input
                type="text"
                name="username"
                class="form-control"
                placeholder="Enter Username"
                required>

        </div>



        <div class="mb-3">

            <label class="form-label">
                Password
            </label>

            <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Enter Password"
                required>

        </div>




        <button class="btn btn-primary w-100">
            Login
        </button>



    </form>



    <p class="text-center mt-3 text-white">

        Don't have an account?

        <a href="/register">
            Register
        </a>

    </p>



</div>


{% endblock %}