{% extends "base.html" %}

{% block title %}Top Rated Movies{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>⭐ Top Rated Movies</h2>

        <a href="/" class="btn btn-secondary">
            ⬅ Back to Home
        </a>

    </div>

    <div class="row">

        {% for movie in movies %}

        <div class="col-md-4 mb-4">

            <div class="card shadow h-100">

                <a href="/movie/{{ movie.id }}">

                    <img src="{{ movie.poster }}"
                         class="card-img-top"
                         style="height:350px; object-fit:cover;">

                </a>

                <div class="card-body">

                    <h5 class="fw-bold">
                        {{ movie.title }}
                    </h5>

                    <p>
                        ⭐ Rating: {{ movie.rating }}
                    </p>

                    <a href="/movie/{{ movie.id }}"
                       class="btn btn-warning w-100">

                        View Details 🎬

                    </a>
                    {% if movie.trailer %}

<a href="{{ movie.trailer }}"
   target="_blank"
   class="btn btn-danger w-100 mt-2">

    ▶ Watch Trailer

</a>

{% endif %}

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}